body {
	background: url(piano.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	margin: auto;
	height: 500px;
	width: 100%;
	text-align: left;
}

/* Page title
   ========================================================================== */
h1 {
	color: white;
	font-family: 'Sofia';
	font-weight: bold;
	text-align: center;
	font-size: 5em;
}

h2 {
	font-family: courier;
	text-align: center;
}

h4 {
	text-align: center;
}

/* Fetch button styles
   ========================================================================== */
button {
	font-family: 'Sofia';
  border-radius: 5px;
  color: #FCFBFB;
  background-color: #D5712F;
}

#list_title {
	text-align: left;
	font-weight: bold;
}

/* Specific styles of user input
   ========================================================================== */
#user-input {
    height:35px;
    padding-left: 10px;
    border-color: #F7F2FE;
    border-radius: 5px;
    float: left;
}

/* Used to resize the default input field size
   ========================================================================== */
#user-input[placeholder] {
    font-size:10px;
}

#inputSection {
	color: white;
	margin: 0 22.5% 20px 22.5%;
}

#sc {
	margin: auto;
	display: none;
}

#mood_tracks {
	margin-left: 2px;
	display: none;
	color: #FA8334;
	font-weight: bolder;
}

#users {
	background-color: #5AFB4A;
	display: none;
}

#favoriters {
	background-color: #FFB35C;
	text-align: center;
	display: none;
}

#sc, #users, #favoriters {
	height: 400px;
	width: 400px;
	color: black;
	border: 2px solid #FB6D4A;
	opacity: .79;
	overflow-y: scroll;
	background-color: #FDFDFD;
}

iframe {
	border-radius: 50px;
}

li {
	list-style: none;
}

table {
	margin: auto;
}

/* unvisited link */
a:link, li:link {
    color: #F3E7F9;
}

/* visited link */
a:visited, li:visited {
    color: #CCCBCC;
}

/* mouse over link */
a:hover, li:hover {
    color: #2EFAE2;
}

/* selected link */
a:active, li:active {
    color: #3EE745;
}

