body {
	background: url(piano.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	margin: auto;
	height: 500px;
	width: 100%;
	text-align: left;
}

/* Page title
   ========================================================================== */
h1 {
	color: white;
	font-family: 'Sofia';
	font-weight: bold;
	text-align: center;
	font-size: 5em;
}

h2 {
	font-family: courier;
	text-align: center;
}

h4 {
	text-align: center;
}

/* Fetch button styles
   ========================================================================== */
button {
	font-family: 'Sofia';
  border-radius: 5px;
  color: #FCFBFB;
  background-color: #D5712F;
}

#list_title {
	text-align: left;
	font-weight: bold;
}

/* Specific styles of user input
   ========================================================================== */
#user-input {
    height:35px;
    padding-left: 10px;
    border-color: #F7F2FE;
    border-radius: 5px;
    float: left;
}

/* Used to resize the default input field size
   ========================================================================== */
#user-input[placeholder] {
    font-size:10px;
}

#inputSection {
	color: white;
	margin: 0 22.5% 20px 22.5%;
}

#sc {
	margin: auto;
	display: none;
}

#mood_tracks {
	margin-left: 2px;
	display: none;
	color: #FA8334;
	font-weight: bolder;
}

#users {
	background-color: #5AFB4A;
	display: none;
}

#favoriters {
	background-color: #FFB35C;
	text-align: center;
	margin: 10px;
	display: none;
}

#sc, #users, #favoriters {
	height: 400px;
	width: 400px;
	color: black;
	border: 2px solid #FB6D4A;
	opacity: .79;
	overflow-y: scroll;
	background-color: #FDFDFD;
}

.col_header {
	color: #FA8334;
	font-weight: bolder;
}

#fName {
	color: black;
}

iframe {
	border-radius: 50px;
}

li {
	list-style: none;
}

table {
	margin: auto;
}

/* unvisited link */
a:link, li:link {
    color: #3B4CDE;
}

/* visited link */
a:visited, li:visited {
    color: #7B7B7C;
}

/* mouse over link */
a:hover, li:hover {
    color: #0FA223;
}

/* selected link */
a:active, li:active {
    color: #3EE745;
}

/* Spinner styles
   ========================================================================== */
#loader {
  position: absolute;
  left: 48.5%;
  top: 50%;
  z-index: 1;
  width: 125px;
  height: 125px;
  margin: -50px 0 0 -50px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;  
  visibility: hidden;
}

@-webkit-keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg); 
  }
  
  100% { 
    -webkit-transform: rotate(360deg); 
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  
  100% { 
    transform: rotate(360deg); 
  }
}

/* Add animation to "page content"
   ========================================================================== */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
